@model JobPortal.Models.JobModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JobModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobMajorSkill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobMajorSkill)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.JobId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
