@*@model IEnumerable<JobPortal.Models.JobModel>
*@

@model dynamic

@{
    ViewData["Title"] = "Index";
    List<CategoryModel> categories = Model.Categories;
}

<h1>Welcome Admin !</h1>

<p>
    <a asp-action="CreateJob">Create New Job</a> | <a asp-action="CreateCategory">Create New Category</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Job Title
            </th>
            <th>
                Job Description
            </th>
            <th>
                Job Company
            </th>
            <th>
                Job Salary
            </th>
            <th>
                Job MajorSkill
            </th>
            <th>
               Category
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (JobModel item in (List<JobModel>)Model.Jobs)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobMajorSkill)
            </td>
                <td>
                    @*@Html.DisplayFor(modelItem => Model.Categories.Find(item.Category))*@
                    @categories.Where(cat => item.Category==cat.Id).FirstOrDefault().CategoryName
                    @*@Html.DisplayFor(modelItem => item.Category)*@
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.JobId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.JobId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.JobId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
